{% extends 'base.html.twig' %}

{% block body %}
    <div class="px-4 mx-auto max-w-2xl">
        <h2 class="mb-4 text-xl font-bold text-gray-900">Ajouter de nouveaux pouvoirs</h2>
        <form action="{{ path('app_add_power') }}" method="post">
            <div class="grid gap-4 grid-cols-1 sm:gap-6">
                <div>
                    <label for="ability" class="block mb-2 text-sm font-medium text-gray-900">Nom du pouvoir</label>
                    <input type="text" name="ability" id="ability" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                </div>
                <div>
                    <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Sélectionner le type de pouvoir</label>
                    <select id="type" name="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        <option selected value="">Sélectionner un type</option>
                        <option value="Physique">Physique</option>
                        <option value="Élémentaire">Élémentaire</option>
                        <option value="Mental">Mental</option>
                        <option value="Sensoriel">Sensoriel</option>
                        <option value="Transformation">Transformation</option>
                        <option value="Dimensionnel">Dimensionnel</option>
                        <option value="Cosmique">Cosmique</option>
                        <option value="Technologique">Technologique</option>
                        <option value="Magique">Magique</option>
                    </select>
                </div>
                <div>
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                    <textarea id="description" name="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Décrivez votre pouvoir en quelques phrases" required></textarea>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('addPower') }}">
            <div class="flex justify-end">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200">
                    Ajouter un pouvoir
                </button>
            </div>
        </form>
    </div>
{% endblock %}

